
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, core dumps, and other files
hs_err_pid*

# Maven / Gradle
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse / IntelliJ / NetBeans files
*.classpath
*.project
*.settings/
.idea/
*.iml
*.ipr
*.iws
out/

# VSCode
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Spring Boot specific
spring.log

# H2 database files
*.h2.db
*.mv.db
*.trace.db

# Application specific
/PatricksResume.pdf
